<div class="text-center py-5 bg-light rounded-4 shadow-sm mt-5">
      <h1 class="display-4 mb-3">Запрошуємо до нашої бібліотеки!</h1>
      <p class="lead mb-5 text-muted">Керуйте вашою колекцією книг, авторами та жанрами в одному місці.</p>
      
      <div class="d-flex justify-content-center gap-4">
        <a routerLink="/authors" class="btn btn-primary btn-lg px-5 shadow">
          <i class="bi bi-people-fill me-2"></i> Перейти до авторів
        </a>
        <a routerLink="/genres" class="btn btn-outline-primary btn-lg px-5 shadow">
          <i class="bi bi-tags-fill me-2"></i> Керувати жанрами
        </a>
      </div>
    </div>
